<%- contentFor('hero') %>
    <!-- Masthead -->
    <header class="masthead text-white text-center">
        <div class="overlay"></div>
    </header>

    <!-- ABS DESCRIPTION -->
    <section class="features-icons bg-light text-justify">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <div class="features-icons-icon d-flex">
                            <i class="features-icons-item icon-screen-desktop m-auto text-primary"></i>
                        </div>
                        <div class="center-justify">

                            <h3 class="text-center">ABS IT ONLINE PLATFORM</h3>
                            <div class="center-justify">
                                <p class="mb-auto">The ABS Online permit application system was developed by the Kenyan government to expedite permit application process for researchers at the same time improving the efficiency and transparency of the entire permit application process.</p>
                                <p> The ABS Online permit application system also enforces and monitors the MAT that the permit applicant signed with the respective lead agency that granted the permit.
                                </p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ABS Guidelines -->
    <section class="accordion-section">
        <div class="container-fluid">
            <div class="row">
                <div class="accordion-section col-lg-12">
                    <h3 class="text-center">IMPORTANT INFORMATION ON ABS</h3>
                </div>
                <div class="col-lg-12" id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          BIOLOGICAL RESOURCES THAT REQUIRE ABS PERMITS
        </button>
                            </h5>
                        </div>
                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <ul class="accordion-ul">
                                    <li>Insects</li>
                                    <li>Mammals</li>
                                    <li>Flowers</li>
                                    <li>Seeds</li>
                                    <li>Amphibians</li>
                                    <li>Microbiota</li>
                                    <li>Microbes</li>
                                    <li>Birds</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          GUIDELINES FOR THE APPLICATION PROCESS
        </button>
                            </h5>
                        </div>

                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                <!-- data to be added-->
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          REQUIRED DOCUMENTS FOR APPLICATION
        </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                <ul class="accordion-ul">
                                    <li>Research Proposal</li>
                                    <li>Letter of affiliation</li>
                                    <li>Letter from academic or Research Institute</li>
                                    <li>Collaborative Agreement</li>
                                    <li>Curriculum Vitae/Resume</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          A LIST OF APPROVED INSTITUTIONS FOR RESEARCH AFFILIATION PROCESS
        </button>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                            <div class="card-body">
                                <div class="category-buttons">
                                    <ul class="accordion-ul">
                                        <li><a class="btn btn-success showDiv" target="1">PUBLIC UNIVERSITIES</a></li>
                                        <li><a class="btn btn-success showDiv" target="2">PRIVATE UNIVERSITIES</a></li>
                                        <li><a class="btn btn-success showDiv" target="3">GOVERNMENT PUBLIC RESEARCH INSTITUTIONS</a></li>
                                        <li><a class="btn btn-success showDiv" target="4">OTHERS</a></li>
                                    </ul>
                                </div>
                                <div id="categories">
                                    <div id="div1" class="targetDiv">
                                        <ul class="approved-inst accordion-ul">
                                            <li><img src='img/egerton.jpg' alt="Egerton University" height="300" width="300"></li>
                                            <li><img src='img/jkuat.jpg' alt="JKUAT" width="300" height="300"></li>
                                            <li><img src='img/KU.png' alt="KU" width="300" height="300"></li>
                                            <li><img src='img/maseno.png' alt="Maseno University" width="300" height="300"></li>
                                            <li><img src='img/mmust.jpg' alt="Masinde Muliro" width="300" height="300"></li>
                                            <li><img src='img/moiuni.png' alt="Moi University" width="300" height="300"></li>
                                            <li><img src='img/uon.png' alt="University of Nairobi" width="300" height="300"></li>
                                        </ul>
                                    </div>
                                    <div id="div2" class="targetDiv">
                                        <ul class="approved-inst accordion-ul">
                                            <li><img src='img/baraton.jpg' alt="Baraton" width="300" height="300"></li>

                                        </ul>
                                    </div>
                                    <div id="div3" class="targetDiv">
                                        <ul class="approved-inst accordion-ul">
                                            <li><img src='img/kari.jpg' alt="KARI" width="300" height="300"></li>
                                            <li><img src='img/KEFRI.jpg' alt="KEFRI" width="300" height="300"></li>
                                            <li><img src='img/kemri.png' alt="KEMRI" width="300" height="300"></li>
                                            <li><img src='img/kirdi.jpg' alt="KIRDI" width="300" height="300"></li>
                                            <li><img src='img/kmfri.jpg' alt="KMFRI" width="300" height="300"></li>
                                            <li><img src='img/KWS.jpg' alt="KWS" width="300" height="300"></li>
                                            <li><img src='img/Nmk.jpg' alt="NMK" width="300" height="300"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFive">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">LEAD AGENCIES AND THEIR MANDATES</button>
                            </h5>
                        </div>

                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                            <div class="card-body">
                                <table class="agencies">
                                    <thead>
                                        <tr>
                                            <th scope="col"> S.NO </th>
                                            <th scope="col"> COMPETENT NATIONAL AUTHORITY </th>
                                            <th scope="col"> MANDATES/ MAIN ROLE </th>
                                        </tr>

                                    </thead>
                                    <tbody>


                                        <tr>
                                            <td>1.</td>
                                            <td>Kenya Wildlife Service (KWS)</td>
                                            <td>Management of wildlife genetic resources, and issuance of PIC, MAT and export permit</td>
                                        </tr>
                                        <tr>
                                            <td>2.</td>
                                            <td>Kenya Forest Service (KFS)</td>
                                            <td>Management of forest genetic resources and associated biodiversity</td>
                                        </tr>
                                        <tr>
                                            <td>3.</td>
                                            <td>National Museums of Kenya (NMK)</td>
                                            <td>Management of cultural heritage, natural history collections and GRs obtained from monuments and heritage sites. </td>
                                        </tr>
                                        <tr>
                                            <td>4.</td>
                                            <td>Department of Veterinary Services</td>
                                            <td>Animal Health Certificate</td>
                                        </tr>
                                        <tr>
                                            <td>5.</td>
                                            <td>Public Universities & Other Public Research Institutes</td>
                                            <td>Issuance of Letter of Affiliation and conclusion of Collaborative Research Agreements or MOUs</td>
                                        </tr>
                                        <tr>
                                            <td>6.</td>
                                            <td>Department of Immigration</td>
                                            <td>Issuance of Researcher Pass</td>
                                        </tr>
                                        <tr>
                                            <td>7.</td>
                                            <td>National Commission for Science, Technology & Innovation (NACOSTI)</td>
                                            <td> Issuance of Research Licence</td>
                                        </tr>

                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingSix">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
          DOCUMENTS TO BE UPLOADED
        </button>
                            </h5>
                        </div>

                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                            <div class="card-body">
                                <div class="container">
                                    <div class="row">
                                        <ul class="accordion-ul">
                                            <li>
                                                <div class="col">Prior Informed Concept</div>
                                            </li>
                                            <li>
                                                <div class="col">Mutually Agreed Terms</div>
                                            </li>
                                            <li>
                                                <div class="col">Materials Transfer Agreement</div>
                                            </li>
                                        </ul>
                                    </div>



                                </div>


                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
